@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


/* Position header */
.my-nav{
    position: absolute;
    z-index: 10;
    width: 100%;
    margin-top: 1%;
}

/* Position and properties of the entries */
.navbar-light .navbar-nav .nav-link {
    color: white;
    padding-top: -5rem;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    margin-left: -70%;
}

.navbar-nav > li{
    margin-right:15%;
}

/* Position and properties of the logo */
.navbar-light .navbar-brand {
    color: white;
    padding-top: .8rem;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 1000;
    margin-left: 3%;
}

/*.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}*/

/* Properties of the first slide's buttons */
.carousel-caption button{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 13%;
    height: 40px;
    font-family: 'Saira Extra Condensed', sans-serif;
    position: absolute;
}

/* Position of Buy Me button */
.carousel-caption #btn1{
    left: 6.5%;
    top: -490%;
}

/* Position of Learn More button */
.carousel-caption #btn2{
    left: 22%;
    top: -490%;
}

/* Properties when mouse over the buttons (hover) */
.carousel-caption button:hover{
    background-color: white;
    color: rgb(86, 30, 119);
}

/*.input-group .form-control{
    font-size: 17px;
    color: rgb(147, 145, 145);
    margin-left: 30px;
}*/

/*.container{
    margin-top:100px;
}*/

/* Height of the search bar */
.height{
    height: 30vh;
}

/* Position of the search bar */
.search{
    position: relative;         
}

/* Properties of the search bar */
.search input{
    height: 45px;
    text-indent: 15px;
    border: 1px solid #d6d4d4;
    font-family: 'Lato', sans-serif;
}

/* Properties of the search icon */
.search .fa-search{
    position: absolute;
    top: 15px;
    right: 30px;
}

/* Space between the 2 rows */
#row1{     
    margin-top: 2rem;
}

#row2{     
    margin-top: 7rem;
}

/* Space and properties of each item of row 1*/
.col{
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    border: 1px solid rgba(187, 185, 185, 0.712);
    margin-top: -100px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 0px;
    border-radius: 5px;
    height: 240px;
}

#col1, #col4, #img1{
    margin-left: 120px;
}

#col3, #col6, #img2{
    margin-right: 120px;
}

/* Image banners */
.column {
    float: left;
    width: 33%;
    padding: 0px;
    margin-top: 60px;
}

#banner1{
    margin-left: 240px;
}
  
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Text banners */
#banner1, #banner2{
    position:relative;
}

#banner1 .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: -20%;
    right: 0;        
    text-align: left;
    top: 50%; /* Adjust this value to move the positioned div up and down */
    font-family: 'Lato', sans-serif;
    color: #fff;
    width: 70%; /* Set the width of the positioned div */
}

#banner2 .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: -20%;
    right: 0;        
    text-align: left;
    top: 50%; /* Adjust this value to move the positioned div up and down */
    font-family: 'Lato', sans-serif;
    color: #fff;
    width: 70%; /* Set the width of the positioned div */
}

h4{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

p{
    color:rgb(134, 131, 131);
    font-size: 12px;
}

.nav-toggle, .nav-toggle2{
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}